#logo-jumbotron {
    background-image: url('/logo.jpg');
}

#home-logos:hover{
    opacity: 0.5;
}

#gallery-photo:hover{
    opacity: 0.5;
}

@media only screen and (min-device-width: 481px) {
    .body{
        align-self: center;
    }
  }