#logo {
    opacity: 0.5;
    zoom: 200%;
}

#logo-jumbotron {
    background-image: url('./assets/logo.jpg');
    opacity: 0.5;
}

@media only screen and (min-device-width: 481px) {
    .body{
        align-content: center;
    }
  }